@using ViewRes
@{
    ViewBag.Title = Account.ChangePasswordSuccess_Title;
}

<h2>@Account.ChangePasswordSuccess_Title</h2>
<p>
    @Account.ChangePasswordSuccess_Message
</p>
<p>
	<input type="button" value="@Account.ChangePasswordSuccess_Continue" onclick="location.href='@Url.Action("View","User")'"/>
</p>
