@using EPICCentral.Models
@using EPICCentralDL.Customization
@model Treatment

<div id="treatment-body">
    <img src="@Url.Action("SystemComparison", "Treatment", new {Model.TreatmentId}, null)"/>
</div>
